.Fondo{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../../assets/Images/main-fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
}